<%= link_to "Edit post", edit_post_path(params[:id]) %>

<article>
  <h1 class="post-title">
    <%= @post.title %>
  </h1>

  <%= render partial: "metadata", locals: {
    post: @post
  } %>

  <%= @body_renderer.render_body(@post) %>
</article>
